In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('/Users/fiannualamorgan/Documents/2021/Code_and_data/Geospatial_Project/location_named_entities_with_trove.csv')

In [5]:
len(file)

995284

In [6]:
file.head

<bound method NDFrame.head of         Unnamed: 0                                           filename  \
0                0                  10000_27_8_1909_7_I__99749674.tsv
1                1                  10000_27_8_1909_7_I__99749674.tsv
2                2                  10000_27_8_1909_7_I__99749674.tsv
3                3                  10000_27_8_1909_7_I__99749674.tsv
4                4                  10000_27_8_1909_7_I__99749674.tsv
...            ...                                                ...
995279      995279  9_8_04_1882_4_XII_FATE HAS DONE ITS WORST_8505...
995280      995280  9_8_04_1882_4_XII_FATE HAS DONE ITS WORST_8505...
995281      995281  9_8_04_1882_4_XII_FATE HAS DONE ITS WORST_8505...
995282      995282  9_8_04_1882_4_XII_FATE HAS DONE ITS WORST_8505...
995283      995283  9_8_04_1882_4_XII_FATE HAS DONE ITS WORST_8505...

       entity_type               result  position  article_id  trove_id
0         LOCATION              Bristol       156    99749674     10000
1         LOCATION          Giastonbury       278    99749674     10000
2         LOCATION        Giassv Island       456    99749674     10000
3         LOCATION  St. Joseph's Chapel      1602    99749674     10000
4         LOCATION           Malmesbury      2288    99749674     10000
...            ...                  ...       ...         ...       ...
995279    LOCATION         Capitol Hill      6647      850586         9
995280    LOCATION              Potomac      8931      850586         9
995281    LOCATION              Norfolk      9674      850586         9
995282    LOCATION        Prospect Hill     10831      850586         9
995283    LOCATION       Miss Clendenon     12130      850586         9

[995284 rows x 7 columns]>

In [ ]:
for i in range:
    prtine(entity)